* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  height: 100%;
}

.overflow {
  overflow: hidden;
}

.body-cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

:root {
  --primary-color: #BDC23D;
  --secondary-color: #3DBDC2;
  --tertiary-color: #C23DBD;
}

#container-t {
  position: relative;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
}

#timelines-div-t {
  display: none;
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#timeline-user-profile-t {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 1200px;
  display: none;
  /* display: grid; */
  grid-template-columns: 0.4fr 1fr 0.4fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-top: 1rem solid var(--primary-color);
  border-radius: 1rem;
}

#search-create-holder-t {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#search-create-holder-t>* {
  position: relative;
  width: 100%;
}

#profile-header-t {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

#user-profile-pic-holder-t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#search-create-timelines-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-magnifying-glass {
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: 0.5rem;
}

#refresh-search-bar-t {
  display: none;
  position: absolute;
  z-index: 2;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}

#search-user-input-t {
  padding: 0.2rem 2.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  width: 100%;
}

#timeline-slots-t {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  transition: transform 0.2s ease-in;
}

#home-create-holder-t {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr;
  grid-column: 1/4;
  padding: 0 1rem;
}

#home-btn-holder-t {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  translate: -0.6rem;
}

#home-btn-t {
  font-size: 1.6rem;
  color: var(--tertiary-color);
}

#home-btn-t:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.timeline-slot-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.timeline-slot-t>* {
  width: 100%;
}

.timeline-owner-views-t,
.created-updated-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeline-picture-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-picture-div-t>img {
  width: 100%;
  height: 100%;
  transition: scale 0.2s ease-in;
}

.cursor-pointer {
  cursor: pointer;
}

.scale-up {
  transition: scale 0.2s ease-in;
}

.scale-up:hover {
  scale: 1.01;
}

.hover-name:hover {
  color: var(--tertiary-color);
}

.timeline-picture-div-t>img:hover {
  outline: 2px solid;
}

.created-t,
.updated-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.created-t>* {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.updated-t>* {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#log-out-btn-t,
#sort-timelines-select-t,
#create-new-timeline-btn-t {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  color: rgb(31, 29, 28);
}

#create-new-timeline-btn-t {
  background-color: var(--primary-color);
  border-radius: 1rem;
  bottom: -2rem;
  width: 100%;
  margin: auto;
}

#create-new-timeline-btn-t:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
}

#log-out-div-t {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#log-out-btn-t {
  color: black;

}

.owner-profile-name-t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.timeline-owner-profile-picture-t,
#user-profile-img-t {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#current-timeline-name-t {
  font-weight: bold;
}

.round-pic {
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.round-pic-b {
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

button:hover,
.search-window-slot-t:hover,
select:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

#login-pop-up-msg-t {
  position: absolute;
  width: 200px;
  height: 200px;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  font-size: 1.4rem;
  border-radius: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
}

#login-pop-up-confirmation-t {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: whitesmoke;
}

#login-pop-up-confirmation-t > * {
  width: 100%;
  text-align: center;
}

.fa-check {
  color: var(--tertiary-color);
  font-size: 6rem;
  text-align: center;
}

#sort-created-timelines-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

#current-timeline-holder-t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#sort-timelines-select-t {
  background-color: blueviolet;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  color: whitesmoke;
}

#search-window-holder-t {
  display: none;
  position: absolute;
  top: 2.2rem;
  z-index: 3;
}

#search-window-slots-t,
.search-window-slot-t {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.search-window-slot-t {
  border: 1px solid;
}

#search-window-slots-t {
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
}

.search-window-slot-picture-t {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}

.search-window-slot-picture-t>* {
  width: 100%;
  height: 100%;
}

#timeline-creation-dialog-t {
  position: relative;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#timeline-creation-settings-title-t {
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: bold;
}

#close-timeline-creation-btn-t {
  scale: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.timeline-delete-timeline-btn-t {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.timeline-delete-timeline-btn-t:hover, #close-timeline-creation-btn-t:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#timeline-creation-header-t {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.width-50 {
  width: 50px;
}

#timeline-creation-holder-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

#timeline-creation-form-holder-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: 1px solid black;
  padding: 1rem;
  width: 100%;
}

#timeline-creation-form-holder-t>* {
  width: 100%;
  font-size: 1.4rem;
}

#timeline-creation-title-t {
  font-weight: bold;
  font-size: 1.4rem;
}

#timeline-is-public-div-t {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

[for='timeline-is-public-input-t'] {
  width: 100%;
}

#timeline-is-public-input-t {
  width: 30px;
  height: 30px;
}

#timeline-title-t {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.4rem;
}

#timeline-title-input-t:focus {
  /* color: var(--tertiary-color); */
  outline: 0;
}

[for='timeline-title-input-t'] {
  font-weight: bold;
}

#timeline-title-input-t {
  padding: 0.2rem;
  font-size: 1.4rem;
  border: 0;
  border-bottom: 1px solid black;
}

#timeline-creation-settings-t {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

#timeline-creation-settings-t>* {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.timeline-settings-input-t {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.timeline-memory-slots-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
  max-height: 160px;
}

.timeline-memory-slot-t {
  width: 100%;
}

.timeline-memory-form-t {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  border: 1px solid var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.1);
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.timeline-memory-inputs-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.uploaded-memory-picture-holder-t {
  width: 160px;
  height: 90px;
}

.uploaded-memory-picture-holder-t>img {
  width: 100%;
  height: 100%;
}

.memory-picture-input-t {
  display: none;
}

#timeline-new-memory-div-t {
  width: 100%;
  padding: 0 1rem;
  margin-top: -1rem;
}

#timeline-new-memory-btn-t {
  width: 100%;
  height: 60px;
  border-radius: 1rem;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
}

#timeline-publish-div-t {
  width: 100%;
  height: 50px;
  position: sticky;
  bottom: 0;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline-memories-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  margin-bottom: -1rem;
}

#timeline-memories-div-t>div {
  font-weight: bold;
  font-size: 1.4rem;
}

#timeline-publish-btn-t {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  border-radius: 1rem;
}

#timeline-publish-btn-t:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.upload-memory-picture-btn-t {
  width: 120px;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.timeline-memory-number-t {
  font-size: 1.2rem;
  border: 1px dotted black;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline-new-memory-btn-t:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.timeline-remove-slot-t {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  text-align: right;
}

.timeline-remove-slot-t:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.memory-description-textarea-t {
  padding: 0.2rem;
  font-size: 1.2rem;
}

#confirmation-pop-up-t {
  position: absolute;
  background-color: black;
  font-size: 2rem;
  text-align: center;
  color: var(--tertiary-color);
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline-present-picture-t {
  height: 500px !important;
}

#filter-holder-t {
  position: relative;
}

#filter-text-icon-t {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 1rem;
}

#filter-br-t {
  grid-column: 1/3;
  width: 100%;
  height: 1px;
  background-color: black;
}

.filter-icon {
  font-size: 1.4rem;
}

#filter-text-t {
  font-size: 1.2rem;
}

.hover-pointer-rgba08:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.hover-pointer-rgba03:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

#filter-dropdown-t {
  display: none;
  position: absolute;
  right: 0;
  top: 4rem;
  background-color: rgb(70, 58, 58);
  z-index: 10;
  border-radius: 1rem;
  grid-template-columns: 80px 80px;
  padding: 1rem;
  column-gap: 2rem;
  row-gap: 0.5rem;
}

.filter-dropdown-display-toggle-t {
  display: grid !important;
}

.pct {
  text-align: center;
  padding: 0.5rem;
  color: rgb(182, 171, 171);
}

.filter-option-toggle-t {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.color-white {
  color: whitesmoke;
}

#timeline-opened-dialog-t {
  width: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  box-shadow: 1px 1px 1px black;
  border: 1px solid;
  border-radius: 1rem;
}

#timeline-opened-holder-t {
  width: 100%;
}

#timeline-header-t {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

#timeline-middle-t {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}

#timeline-center-t {
  position: relative;
  width: 90%;
  height: 350px;
  overflow: hidden;
}

#timeline-timeline-t {
  position: absolute;
  bottom: 3.7rem;
  border: 2px solid black;
  width: 100%;
}

.timeline-timeline-side-t {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 10;
  translate: 0 1.5rem;
  background-color: white;
}

#timeline-timeline-left-t {
  left: -0.1rem;
  bottom: 0;
}

#timeline-timeline-right-t {
  right: -0.1rem;
  bottom: 0;
}

.timeline-left-right {
  font-size: 1.4rem;
}

.timeline-timeline-side-t:hover {
  background-color: rgb(68, 67, 67);
  cursor: pointer;
  color: whitesmoke;
  z-index: 100;
}

#timeline-memory-slots {
  position: absolute;
  height: calc(100% + 3rem);
  right: 0;
  /* overflow: hidden; */
}

.timeline-memory-slot {
  display: block;
  position: absolute;
  width: 290px;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeline-memory-picture-t {
  width: 240px;
  height: 160px;
  border-radius: 1rem;
  border: 1px solid black;
}

.timeline-memory-picture-t:hover {
  border: 3px solid black;
  cursor: pointer;
}

.timeline-memory-position-dot-t {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  translate: 0 -2.4rem;
  z-index: 10;
}

.timeline-memory-date-t {
  position: absolute;
  bottom: 0;
  translate: 0 -3.5rem;
  font-weight: bold;
}

.timeline-close-memories-btn-t {
  font-size: 2rem;
  font-weight: bold;
}

.timeline-close-memories-btn-t:hover {
  color: #C23DBD;
  cursor: pointer;
}

#timeline-memories-pic-title-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#timeline-memories-title-t {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#timeline-memories-owner-pic-t {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#timeline-memory-picture-zoomed-holder-t {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(129, 126, 126, 0.95);
  border-radius: 1rem;
  z-index: 200;
}

#timeline-memory-picture-zoomed-t {
  height: auto;
  max-height: 500px;
  max-width: 1000px;
  border: 1rem;
}

#timeline-memory-picture-zoomed-t:hover {
  cursor: pointer;
  border: 2px solid black;
}

#timeline-memory-picture-description-holder-t {
  width: 400px;
  margin: auto;
  font-size: 2rem;
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  -webkit-text-stroke: 1px rgb(37, 32, 37);
}

#timeline-memory-picture-description-t {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  max-width: 800px;
  border-radius: 1rem;
}

.timeline-open-settings-t {
  font-size: 1.6rem;
}

.timeline-open-settings-t:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

#timeline-are-you-sure-holder-t {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgb(41, 38, 38);
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 1rem;
}

#timeline-are-you-sure-holder-t>* {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: whitesmoke;
}

.timeline-deletion-decision-btns-t {
  width: 40%;
  height: 50px;
  font-size: 1.2rem;
}

.timeline-deletion-decision-btns-t:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: whitesmoke;
}

#timeline-creation-pop-up-msg-t {
  display: none;
  position: absolute;
  padding: 2rem;
  color: purple;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-circle {
  display: none;
  position: fixed;
  border: 15px solid whitesmoke;
  border-top: 15px solid var(--secondary-color);
  border-radius: 100%;
  width: 225px;
  height: 225px;
  z-index: 100;
  inset: 50%;
  translate: -50% -50%;
}

.animate-loading-circle {
  display: block !important;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
