* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  height: 100%;
}

.overflow {
  overflow: hidden;
}

.body-cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

:root {
  --primary-color: #BDC23D;
  --secondary-color: #3DBDC2;
  --tertiary-color: #C23DBD;
}

#container-t {
  position: relative;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
}

#timelines-div-t {
  display: none;
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#timeline-user-profile-t {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 1200px;
  display: none;
  /* display: grid; */
  grid-template-columns: 0.3fr 1fr 0.2fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-top: 1rem solid var(--primary-color);
  border-radius: 1rem;
}

#search-create-holder-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#search-create-holder-t>* {
  position: relative;
  width: 70%;
}

#user-profile-pic-holder-t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#profile-header-t {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#search-create-timelines-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-magnifying-glass {
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: 0.5rem;
}

#search-user-input-t {
  padding: 0.2rem 2.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  width: 100%;
}

#timeline-slots-t {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeline-slot-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.timeline-slot-t>* {
  width: 100%;
}

.timeline-owner-views-t,
.created-updated-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeline-picture-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-picture-div-t>img {
  width: 100%;
  height: 100%;
  transition: scale 0.2s ease-in;
}

.cursor-pointer {
  cursor: pointer;
}

.scale-up {
  transition: scale 0.2s ease-in;
}

.scale-up:hover {
  scale: 1.1;
}

.hover-name:hover {
  color: var(--tertiary-color);
}

.timeline-picture-div-t>img:hover {
  scale: 1.05;
}

.created-t,
.updated-t {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.created-t>* {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.updated-t>* {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#log-out-btn-t,
#sort-timelines-select-t,
#create-new-timeline-btn-t {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  color: rgb(31, 29, 28);
}

#create-new-timeline-btn-t {
  background-color: var(--primary-color);
  border-radius: 1rem;
  bottom: -2rem;
  width: 100%;
  margin: auto;
}

/* #log-out-div-t {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

#log-out-btn-t {
  color: black;

}

.owner-profile-name-t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.timeline-owner-profile-picture-t,
#user-profile-img-t {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.round-pic {
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

button:hover,
select:hover {
  outline: 1px solid black;
}

#login-pop-up-msg {
  position: absolute;
  display: none;
  /* display: flex; */
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  font-size: 2rem;
  border-radius: 100%;
}

#login-pop-up-msg>* {
  width: 100%;
}

.fa-check {
  color: var(--tertiary-color);
  font-size: 6rem;
  text-align: center;
}

#sort-created-timelines-div-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#current-timeline-holder-t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#current-timeline-pic-t {
  width: 100px;
  height: 60px;
}


#sort-timelines-select-t {
  background-color: blueviolet;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  color: whitesmoke;
}